@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    width: 100%;
    min-height: 100vh;
    /* Colorscheme daqui: https://github.com/dracula/dracula-theme */
    background-color: #282a36;
    color: #f8f8f2;
}

main {
    width: calc(100vw - 40px);
    margin: 0 auto;
}

h1 {
    display: block;
    width: 100%;
}

h2 {
    margin-left: 2em;
    /* Roubado de: https://css-tricks.com/snippets/css/typewriter-effect/ */

    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #f8f8f2; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    /* margin: 0 auto; /\* Gives that scrolling effect as the typing happens *\/ */
    letter-spacing: .15em; /* Adjust as needed */
    animation:
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
}

p {
    text-indent: 4em;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #f8f8f2; }
}
