header
{
    top: 0%;
    text-align: center;
    font-size: 1.5cm;
    margin-bottom: 20px;
}
.rodape
{
    text-align: center;
    left: 0px;
    width: 100%;
    background-color: rgb(36, 36, 36);
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: rgb(236, 236, 236);
}
#produtos
{
    background-color: white;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 5px 5px 10px grey;
}
/*criadores*/
.criadores
{
    overflow: auto;
}
@media screen and (max-width: 800px)
{
    .conjunto
    {
        overflow: auto;
        margin: 0 auto;
        width: 100%;
        margin-bottom: 15px;
    }
    .conjunto img
    {
        width: 100%;
    }
    .altCriadores
    {
        width: 100%;
        text-align: center;
    }
}
@media screen and (min-width: 800px)
{
    .conjunto
    {
        overflow: auto;
        margin: 0 auto;
        width: 60%;
        margin-bottom: 15px;
    }
    .conjunto img
    {
        width: 100%;
    }
    .conjunto img:hover
    {
        filter: sepia(35%) brightness(80%);
    }
    .altCriadores
    {
        width: 100%;
        text-align: center;
    }
}
/*fim criadores*/

/*menu página inicial*/
#menuInicial a
{
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 7px;
    padding-bottom: 5px;
    text-align: center;
    /*float: left;*/
    text-decoration: none;
    color: rgb(107, 107, 107);
    font-size: 0.5cm;
}
#menuInicial a:hover
{
    padding-left: 1%;
    padding-right: 1%;
    text-align: center;
    text-decoration: none;
    background-color: black;
    color: white;
    font-size: 0.5cm;
}
.ativo:hover
{
    background-color: grey !important;
}
.ativo
{
    color: black !important;
}
#menuInicial 
{
    background-color: rgba(rgba(2, 2, 2, 0.377), green, blue, alpha);
    text-align: center;
    overflow: hidden;
    padding-bottom: 15px;
}
@media screen and (min-width: 800px)
{
    #menuInicial .icone
    {
        display: none;
    }
}
@media screen and (max-width: 800px) 
{
    .menuInit a:not(:first-child) {display: none;}
    .menuInit a.icone {
        cursor: pointer;
        color: rgb(107, 107, 107) !important;
        float: right;
        display: flex;
        background-color: transparent !important;
        margin-right: 10%;
    }
    .menuInit a
    {
        margin-left: 10%;
        float: left;
    }
}
  
@media screen and (max-width: 800px) {
    .menuInit.responsive {position: relative;}
    .menuInit.responsive a {
        cursor: pointer !important;
        float: left !important;
        width: 100%;
        display: flex;
        text-align: center !important;
        background-color: transparent !important;
    }
}
/*fim menu página inicial*/

/*carousel override bootstrap*/
@media only screen and (min-width: 800px)
{
    #myCarousel
    {
        width: 55% !important;
        margin: 0 auto !important;
    }
}
@media only screen and (max-width: 800px)
{
    #myCarousel
    {
        width: 90% !important;
        margin: 0 auto !important;
    }
}
#myCarousel img:hover
{
    filter: brightness(90%);
}
/* fimcarousel override bootstrap*/