@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,regular,italic,600,600italic,700,700italic,800,800italic);

html, body
{
    font-family: 'Opens Sans', sans-serif;
}

.titleShow
{
    width: 100%;
    text-align: center;
    font-size: 1.7em;
    font-weight: bolder;
    margin-bottom: 10px;
}

.imageShow
{
    float: left;
    width: 100%;
    grid-area: img;
}

.textShow
{
    grid-area: texto;
    width: 100%;
    text-align: justify;
}

.textTitle
{
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 5px;
}

#contShow
{
    background-color: rgb(214, 255, 255);
    border: 1px solid rgb(88, 194, 194);
    padding-top: 10px;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'img texto texto';
    grid-column-gap: 10px;
}

header h1
{
    font-size: 2.5em;
    font-weight: bolder;
    width: 100%;
    text-align: center;
}

/* carousel */
.carousel-caption h5, p
{
    color: rgb(255, 4, 234) !important;
}
.carousel-caption h5
{
    font-weight: bolder;
}
.carousel-caption p
{
    font-weight: bold;
}
/* end carousel */

/* navbar */
#navMenu
{
    background-color: rgb(214, 255, 255) !important;
    margin-bottom: 10px;
}

.nav-item.nav-link.active
{
    font-weight: bolder !important;
}

.nav-item.nav-link
{
    font-weight: bold !important;
}

.navbar-toggler
{
    outline: none !important;
}
/* end of navbar */