@import url(https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,regular,500,700,900);

hr
{
    border: 1.5px solid rgb(44, 44, 65);
    border-style: dashed;
}

a
{
    color: currentColor;
    text-decoration: none;
    cursor: pointer;
}

body
{
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #5CDB95;
}

header
{
    width: 100%;
    background-color: #379683;
    color: #EDF5E1;
    padding-top: 5px;
    padding-bottom: 5px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

#headerGrid
{
    display: grid;
    width: 80%;
    margin: 0 auto;
    grid-template-columns: 15% auto 15%;
    grid-template-rows: auto;
    grid-template-areas: 'image title menu';
    position: relative;
}

header img#prof
{
    grid-area: image;
    width: 100%;
    max-width: 55px;
    margin: auto auto;
}

header img#menu
{
    grid-area: menu;
    width: 100%;
    max-width: 35px;
    margin: auto auto;
    cursor: pointer;
}

header div#title
{
    font-size: 1.7rem;
    font-weight: bold;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

header div#title span
{
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    font-style: italic;
    line-height: 1rem;
}

#dropDown
{
    display: none;
    /* display: block; */
    grid-area: menu;
    position: absolute;
    background-color: #EDF5E1;
    border-radius: 5px;
    top: 80%;
    right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(44, 44, 65);
    font-size: 1.2rem;
    width: max-content;
    min-width: 200px;
    text-align: center;
    border: 3px solid rgb(44, 44, 65);
    border-style: dashed;
    line-height: 1.2rem;
}

.menuIcons
{
    height: 1.2rem;
    display: inline-block;
    margin: auto auto;
}

main
{
    margin: 0 auto;
    padding: 0;
    width: 80%;
    color: rgb(44, 44, 65);
}

.secao
{
    width: 100%;
    color: rgb(44, 44, 65);
    font-weight: bold;
    text-align: center;
    font-size: 1.3rem;
}

.post
{
    background-color: #EDF5E1;
    border-radius: 5px;
    text-align: center;
    border: 3px solid rgb(44, 44, 65);
    border-style: dashed;
    width: 100%;
    margin-bottom: 10px;
    font-size: 1.2rem;
}

@media only screen and (max-width: 700px)
{
    #headerGrid
    {
        width: 95%;
    }

    main
    {
        width: 95%;
    }
}